/* Основні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #333;
}

/* Стиль для header */
.header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.site-name {
    font-size: 2rem;
    color: #fff;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.logout-form {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logout-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-btn:hover {
    background-color: #45a049;
}

/* Контейнер для сторінки */
.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Sidebar для вкладок */
.sidebar {
    width: 250px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.tab-link {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    text-align: left;
    background-color: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.tab-link.active {
    background-color: #4CAF50;
    color: white;
}

.tab-link:hover {
    background-color: #ddd;
}

/* Таблиця */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Вміст вкладок */
.tab-content-wrapper {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Вміст вкладок */
.tab-content {
    display: none;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стиль для вкладок */
.tab-content-wrapper .tab-content:first-child {
    display: block;
}
